<%- include ./general/header %>
<%- include ./general/navbar %>
<body>
    <% if(message.length>0){ %>
        <div class="alert alert-dismissible alert-warning container mt-3">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Message</h4>
            <p>
                <%= message %>
            </p>
        </div>
        <% } %>
            <div class="container">
                <h2> Hello
                    <%= user.fullname %>
                </h2>
                <button type="button" class="btn btn-primary">
                    Your trade requests
                    <span class="badge badge-light ml-4">
                        <%= reqsFromUser.length %>
                    </span>
                </button>





                <button type="button" class="btn btn-primary">
                    Trade request for you
                    <span class="badge badge-light ml-4">
                        <%= reqsToUser.length %>
                    </span>
                </button>



                <% if(reqsFromUser.length>0){ %>
                    <hr style="border-color:#fff">
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="color:aquamarine">Your trade requests</p>
                            <table class="table table-striped table-hover table-bordered mt-2">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Book Title</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% reqsFromUser.forEach(function(tradeReq,i){%>
                                        <tr>
                                            <td>
                                                <% i+1 %>
                                            </td>
                                            <td>
                                                <%= tradeReq.book.title %>
                                            </td>
                                            <td>
                                                <form action="/tradeBooks/cancelRequest/<%= tradeReq._id %>" method="post">
                                                    <input type="submit" class="btn btn-warning" value="Cancel Request">
                                                </form>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% } %>
                        <% if(reqsToUser.length>0){ %>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p style="color:aquamarine">Trade requests for you</p>
                                    <table class="table table-striped table-hover table-bordered mt-2">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Book Title</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <% reqsToUser.forEach(function(tradeReq,i){ %>
                                                    <tr>
                                                        <td>
                                                            <% i+1 %>
                                                        </td>
                                                        <td>
                                                            <%= tradeReq.book.title %>
                                                        </td>
                                                        <td>
                                                            <form action="/tradeBooks/acceptRequest/<%= tradeReq._id %>" method="post">
                                                                <input type="submit" class="btn btn-block btn-success" value="Accept">
                                                            </form>
                                                            <form action="/tradeBooks/rejectRequest/<%= tradeReq._id %>" method="post">
                                                                <input type="submit" class="btn btn-block" value="Reject">
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <% } %>
                                <hr style="border-color:#fff">
                                <h2 class="mt-2">All Books</h2>
                                <div class="row">
                                    <% books.forEach(function(book){ %>
                                        <div class="col-lg-3 mt-2 mb-2">
                                            <div class="card">
                                                <img src="<%= book.imageUrl %>" alt="Card image" class="center-block mt-3 mb-3" style="height:168px;width:128px;">
                                                <div class="card-block">
                                                    <form action="/profile/trade/<%= book._id %>" method="post">
                                                        <input type="submit" class="btn btn-info btn-block" value="Trade">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
            </div>
            <%- include ./general/scripts %>
</body>
